## Global build settings
# all kernel module packages
#CONFIG_ALL_NONSHARED=y
# all target specific packages  (KMODS<*NONSHARED)
#CONFIG_ALL_KMODS=y
#CONFIG_ALL=y

## Developer Options
# Image Builder
#CONFIG_IB=y
#CONFIG_IB_STANDALONE=y
# SDK
CONFIG_SDK=y
# TOOLCHAIN
#CONFIG_MAKE_TOOLCHAIN=y
CONFIG_SIGNATURE_CHECK=y
